body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    background-color: #ffffff;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

a, a:visited, a:active {
	color: #000000;
	text-decoration: none;
}

a:hover {
	
}

#body_wrap {
    margin-top: 3%;
    margin-left: auto;
	margin-right: auto;
	width: 90%;
	height: 90%;
}

#spotify {
	float: left;
}

#social_media {
	position: relative;
	float: right;
	width: 50%;
	text-align: right;

}

#social_media a{
	margin: 2%;
}

#social_media a:hover{
	background-color: rgb(246, 210, 201);
	border-top: 8px solid rgb(246, 210, 201);
	border-bottom: 8px solid rgb(246, 210, 201);
}

#core {
	width: 40%;
	height: 60vh;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: block;
}

h1 {
	display: inline;
	margin-left: 40px;
	font-weight: 800;
	font-size: 24px;
}

#cards {
	position: relative;
	height: 380px;
	margin-top: 24px;
	margin-bottom: 24px;
}

.piece {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #FFA3A3;
	height: 380px;
	width: 380px;
	overflow: hidden;
}

.piece img {
	width: 100%;
}

.piece:hover {
	z-index: 3;
}

p.sub{
	font-family: 'Times New Roman', Times, serif;
	font-size: 24px;
	color: #ffffff;
	padding: 40px;
}

.email {
	display: inline;
	font-weight: 600; 
	margin-left: 40px;
	font-size: 20px;
	border-bottom: 8px solid #E4BCB4;
}


/*-- mobile --*/

@media only screen and (max-width: 1024px) {
	#body_wrap {
		margin-top: 5%;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

}