body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    background-color: #ffffff;
}

img {
	max-width: 100%;
}

#body_wrap {
    margin-top: 5%;
    margin-left: auto;
	margin-right: auto;
    width: 77%;
}

#header_id {
	display: flex;
}

#featured_id {
	display: flex;
	width: 100%;
	flex-flow: row wrap;
}

#featured_id div {
	width: 50%;
}

#header_id div {
	flex: 1;
}

h1 {
    font-weight: 800;
    font-size: 25px;
	position: relative;
}

.social {
	margin-top: -10px;
	width: 195px;
	position: relative;
}

img.social {
	width: 20.9px;
	margin-left: 3.3%;
	border: 0;
}

img.social:hover {
	transition: opacity 0.5s linear;
	opacity: .5;
}

.navigation {
	float: right;
}

img.navigation:hover {
	transition: opacity 0.5s linear;
	opacity: .5;
}

img.navigation {
	margin-right: 6%;
}

#tagline_id p {
	font-size: 44px;
}

p strong {
	font-weight: 400;
}

