body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    background-color: #ffffff;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

a, a:visited, a:active {
	color: #000000;
}

a:hover {
	color: #9B9B9B;
}

#body_wrap {
    margin-top: 5%;
    margin-left: auto;
	margin-right: auto;
    width: 77%;
}

#header_id {
	width: 100%;
	float: right;
	margin-bottom: 5%;
}

.title {
	position: fixed;
}

.navigation {
	float: right;
	width: 50%;
}

img.navigation:hover {
	transition: opacity 0.5s linear;
	opacity: 0.5;
}

img.navigation {
	width: 20%;
	opacity: 1;
	margin-right: 6%;
}

#tagline_id {
	font-size: 3vw;
}

p strong {
	font-weight: 400;
}
#featured_id {
	display: flex;
	width: 100%;
	flex-flow: row wrap;
}

#featured_id div {
	width: 50%;
}

h1 {
    font-weight: 800;
    font-size: 25px;
	position: relative;
}

.social {
	margin-top: -10px;
	width: 13px;
}

img.social {
	margin-top: -5px;
	border: 1px #9B9B9B solid;
	padding: 5px;
}

img.social:hover {
	transition: opacity 0.5s linear;
	opacity: .5;
}

#social_id {
	opacity: 1;
	position: fixed;
	right: 13%;
	bottom: 10%;
	transition: opacity 1s linear;
}

#footer_id {
	width: 100%;
	background-color: #F5DDDC;
	text-align: center;
	padding: 5%;
}

p.main {
	font-size: 2.3vw;
}

p.sub {
	font-size: 2vw;
	word-spacing: 30px;
}

/*-- mobile --*/

@media only screen and (max-width: 1024px) {
	#body_wrap {
		margin-top: 5%;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

}